.container
  .row
    %ul.nav.nav-tabs.pull-left
      %li= link_to "DONE", root_path
    %ul.nav.nav-tabs.pull-right
      %li= link_to "Sign In", '#'
      %li= link_to "Sign Up", '#'
      %li= link_to "Contact", '#'
  .row
    .header
      %h1 DONE
      %p A self-destructing app to help you get things DONE!