.container
  .row.header
    %br/
    %h1 Welcome #{current_user.email}
  .row.sub-header  
    %p Things to Get DONE
  .row
    = render partial: 'items/form', locals: { user: current_user, item: @item }
  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th Task
            %th Days Left
            %th Delete
        %tbody
          = render partial: 'items/item', collection: @items