.container
  .row.header
    %br/
    %h1 Welcome #{current_user.email}
  .row.sub-header  
    %p Things to Get DONE
  .row
    = render partial: 'items/form', locals: { user: current_user, item: @item }
    = render partial: 'items/item'
    = link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok'
    / = link_to "", @item, method: :delete, class: 'glyphicon glyphicon-ok'
    / = link_to "", [user, item], method: :delete, class: 'glyphicon glyphicon-ok'